@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}
.container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: white;
  overflow: hidden;
}
.column {
  float: left;
  width: 50vw;
  height: 100vh;
}
.blue{
  background-color: rgba(26, 77, 230, 0.81);
}
.word_container{
  position: absolute;
  height: 13vh;
  width: 33.9vw;
  left: 6.5vw;
  top: 20.4vh;
  font-family: Noto Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
.bookmarks{
  position: absolute;
  width: 11.5vw;
  height: 17vh;
  left: 32%;
  top: 46%;
  background: #FFFFFF;
  border-radius: 5px;
}
.bookmark_image_container, .notes_image_container, .todos_image_container{
  display: flex;
  align-items: center;
  height: 17vh;
  padding-left: 5%;
}
.bookmark_image_circle, .notes_image_circle, .todos_image_circle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 32%;
  border-radius: 50%;
  background: rgba(70, 115, 228, 0.1);
}
.bookmark_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17vh;
}
.bookmark_word, .notes_word, .todo_word{
  padding-left: 5%;
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  color: #5F5F60;
}
.bookmark_circle{
  position: absolute;
  width: 8%;
  height: 16.5%;
  left: 35vw;
  top: 35.5vh;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.37)
}
.notes{
  position: absolute;
  width: 11.5vw;
  height: 17vh;
  left: 19%;
  top: 46%;
  background: #FFFFFF;
  border-radius: 5px;
}
.notes_triangle{
  position: absolute;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid rgba(255, 255, 255, 0.39);
  left: 20.8%;
  top: 58%;
}
.todos{
  position: absolute;
  width: 11.5vw;
  height: 17vh;
  left: 6%;
  top: 46%;
  background: #FFFFFF;
  border-radius: 5px;
}
.todos_angle{
  position: absolute;
  width: 0;
	height: 0;
	border-left: 2vw solid transparent;
	border-right: 2vw solid transparent;
	border-top: 7vh solid rgba(36, 104, 235, 0.81);
  left: 13%;
  top: 46%;
 }
.upper_circle{
  position:absolute;
  width: 100px;
  height: 100px;
  left: -27px;
  top: -26px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(133, 156, 217, 0.47), rgba(133, 156, 217, 0.47)),
              linear-gradient(0deg, rgba(133, 156, 217, 0.47), rgba(133, 156, 217, 0.47)),
              rgba(133, 156, 217, 0.47)
}
.lower_circle{
  position: absolute;
  width: 100px;
  height: 100px;
  left: -35px;
  top: 85vh;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(133, 156, 217, 0.47), rgba(133, 156, 217, 0.47)),
              linear-gradient(0deg, rgba(133, 156, 217, 0.47), rgba(133, 156, 217, 0.47)), 
            rgba(133, 156, 217, 0.47);
}
.article{
  position: absolute;
  width: 36%;
  left: 6%;
  top: 72%;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157.6%;
  /* or 22px */
  color: #FFFFFF;
}
.white{
  background-color: white;
}
.white_logo{
  position: absolute;
  width: 3.5%;
  height: 7.3%;
  left: 60.3%;
  top: 13%;
  padding: 2px 2px 1px 3px;
  border-radius: 50%;
  background: #2468EB;
}
.three60{
  position: absolute;
  left: 64.9%;
  top: 14.5%;
 }
#three60{
  display: block;
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 2vw;
  color: #2468EB;
}
.create_act{
  position: absolute;
  left: 60.5%;
  top: 23%;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 2vw;
  color: #000000;
}
#email_label{
  position: absolute;
  left: 60.5%;
  top: 32%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  text-align: right;
  color: #7D8089;
}
::placeholder{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #C2C4CB;
  padding-left: 10px;
}
#email{
  box-sizing: border-box;
  position: absolute;
  width: 30%;
  height: 8%;
  left: 60.5%;
  top: 36%;
   background: rgba(36, 104, 235, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 3px;
}
#email_msg{
  position: absolute;
  left: 60.5%;
  top: 44%;
  color: red;
}
#pwd_label{
  position: absolute;
  left: 60.5%;
  top: 46%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  text-align: right;
  color: #7D8089;
 }
 #pwd{
  box-sizing: border-box;
  position: absolute;
  width: 30%;
  height: 8%;
  left: 60.5%;
  top: 50%;
  background: rgba(36, 104, 235, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 3px;
 }
 #pwd_msg{
  position: absolute;
  left: 60.5%;
  top: 58%;
  color: red;
 }
 #confirm_pwd_label{
  position: absolute;
  left: 60.5%;
  top: 60%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  text-align: right;
  color: #7D8089;
 }
 #confirm_pwd{
  box-sizing: border-box;
  position: absolute;
  width: 30%;
  height: 8%;
  left: 60.5%;
  top: 64%;
  background: rgba(36, 104, 235, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 3px;
 }
 #confirm_pwd_msg{
  position: absolute;
  left: 60.5%;
  top: 72%;
  color: red;
 }
 #signUp_btn{
  position: absolute;
  width: 30%;
  height: 8%;
  left: 60.5%;
  top: 74%;
  background: #2468EB;
  border-radius: 3px;
  color: white;
  border: none;
 }
 .google_btn{
  box-sizing: border-box;
  position: absolute;
  width: 30%;
  height: 8%;
  left: 60.5%;
  top: 84%;
  background: rgba(36, 104, 235, 0.12);
  border-radius: 3px;
  cursor: pointer;
  border: transparent;
 }
 #ggl_link{
  position: absolute;
  left: 38%;
  top: 35%;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1vw;
 }
 a{
  color: #2468EB;
  text-decoration: none;
 }
 #google_img{
  position: absolute;
  left: 31%;
  top: 35%;

 }
 #google_btn:hover, #signUp_btn:hover, #confirm_pwd:hover, #pwd:hover, #email:hover, #signIn_btn:hover{
   border: 3px solid rgb(0, 153, 255);
   transform: scale(1.01);
 }
 .sign_in{
  position: absolute;
  left: 60.5%;
  top: 93%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1vw;
  color: #000000;
 }
 .terms{
  position: absolute;
  left: 60.5%;
  top: 97%;  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1vw;
  color: #979BA9;
 }
 #signIn_btn{
  position: absolute;
  width: 30%;
  height: 8%;
  left: 60.5%;
  top: 60%;
  background: #2468EB;
  border-radius: 3px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  color: #FFFFFF;
  border: none;
 }
 .sign_up{
  position: absolute;
  left: 60.5%;
  top: 71%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1vw;
  color: #000000;
 }
 input:valid{
  border: 1px solid black;
 }
 input:invalid{
  border: 1px solid dashed red;
  background-color: yellow;
 }
 #success{
  color: #2468EB;
  font-family: 'Rubik';
  font-weight: 500;
  position: absolute;
  left: 60.5%;
  top: 7.5%;
 }