@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}
.container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: white;
  overflow: hidden;
}
.column {
  float: left;
  width: 50vw;
  height: 100vh;
}
.blue{
  background-color: rgba(26, 77, 230, 0.81);
}
.blue_container{
  position: absolute;
  left: 6.5vw;
  width: 486px;
  height: 418px;
  top: 20.4vh;
}
.word_container{
  position: absolute;
  width: 339px;
  height: 130px;
  font-family: Noto Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 65px;
  font-style: normal;
  text-align: left;
  color: #FFFFFF;
}
.bookmarks{
  position: absolute;
  width: 144px;
  height: 105px;
  left: 324px;
  top: 155px;
  background: #FFFFFF;
  border-radius: 5px;
}
.bookmark_image_container, .notes_image_container, .todos_image_container{
  display: flex;
  align-items: center;
  height: 105px;
  padding-left: 5%;
}
.bookmark_image_circle, .notes_image_circle, .todos_image_circle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(70, 115, 228, 0.1);
}
.bookmark_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105px;
}
.bookmark_word, .notes_word, .todo_word{
  padding-left: 5%;
  font-family: 'Quattrocento Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  color: #5F5F60;
}
.bookmark_circle{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 347px;
  top: 98px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.37)
}
.notes{
  position: absolute;
  width: 144px;
  height: 105px;
  left: 162px;
  top: 155px;
  background: #FFFFFF;
  border-radius: 5px;
}
.notes_triangle{
  position: absolute;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid rgba(255, 255, 255, 0.39);
  left: 182px;
  top: 225px;
}
.todos{
  position: absolute;
  width: 144px;
  height: 105px;
  left: 0px;
  top: 155px;
  background: #FFFFFF;
  border-radius: 5px;
}
.todos_angle{
  position: absolute;
  width: 0;
	height: 0;
	border-left: 2vw solid transparent;
	border-right: 2vw solid transparent;
	border-top: 7vh solid rgba(36, 104, 235, 0.81);
  left: 84px;
  top: 155px;
 }
.upper_circle{
  position:absolute;
  width: 100px;
  height: 100px;
  left: -27px;
  top: -26px;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(133, 156, 217, 0.47), rgba(133, 156, 217, 0.47)),
              linear-gradient(0deg, rgba(133, 156, 217, 0.47), rgba(133, 156, 217, 0.47)),
              rgba(133, 156, 217, 0.47)
}
.lower_circle{
  position: absolute;
  width: 100px;
  height: 100px;
  left: -35px;
  top: 85vh;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(133, 156, 217, 0.47), rgba(133, 156, 217, 0.47)),
              linear-gradient(0deg, rgba(133, 156, 217, 0.47), rgba(133, 156, 217, 0.47)), 
            rgba(133, 156, 217, 0.47);
}
.article{
  position: absolute;
  width: 456px;
  height: 66px;
  top: 352px;
  left: 12px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* or 22px */
  color: #FFFFFF;
}
.white{
  background-color: white;
}
.white_container{
  position: absolute;
  width: 384px;
  height: 560px;
  left: 60.3%;
  top: 5%;
}
.white_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 2px 2px 1px 3px;
  border-radius: 50%;
  background: #2468EB;
}
.three60{
  position: absolute;
  left: 60px;
  top: 11px;
 }
#three60{
  display: block;
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 24px;
  color: #2468EB;
}
.create_act{
  position: absolute;
  top: 68px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}
::placeholder{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #C2C4CB;
  padding-left: 10px;
}
#first_name_label{
  position: absolute;
  top: 110px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  color: #7D8089;
}
#first_name{
  box-sizing: border-box;
  position: absolute;
  width: 384px;
  height: 40px;
  top: 130px;
   background: rgba(36, 104, 235, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 3px;
}
#first_name_msg{
  position: absolute;
  top: 169px;
  color: red;
}
#last_name_label{
  position: absolute;
  top: 183px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  color: #7D8089;
}
#last_name{
  box-sizing: border-box;
  position: absolute;
  width: 384px;
  height: 40px;
  top: 205px;
   background: rgba(36, 104, 235, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 3px;
}
#last_name_msg{
  position: absolute;
  top: 246px;
  color: red;
}
#email_label{
  position: absolute;
  top: 259px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  color: #7D8089;
}
#email{
  box-sizing: border-box;
  position: absolute;
  width: 384px;
  height: 40px;
  top: 279px;
   background: rgba(36, 104, 235, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 3px;
}
#email_msg{
  position: absolute;
  top: 317px;
  color: red;
}
#pwd_label{
  position: absolute;
  top: 331px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  color: #7D8089;
 }
 #pwd{
  box-sizing: border-box;
  position: absolute;
  width: 384px;
  height: 40px;
  top: 348px;
  background: rgba(36, 104, 235, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 3px;
 }
 #pwd_msg{
  position: absolute;
  top: 386px;
  color: red;
 }
 #confirmPwd_label{
  position: absolute;
  top: 396px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  color: #7D8089;
 }
 #confirmPwd{
  box-sizing: border-box;
  position: absolute;
  width: 384px;
  height: 40px;
  top: 416px;
   background: rgba(36, 104, 235, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 3px;
}
#confirmPwd_msg{
  position: absolute;
  top: 452px;
  color: red;
 }
 #signUp_btn{
  position: absolute;
  width: 384px;
  height: 40px;
  top: 465px;
  background: #2468EB;
  border-radius: 3px;
  color: white;
  border: none;
 }
 .google_btn{
  box-sizing: border-box;
  position: absolute;
  width: 384px;
  height: 40px;
  top: 510px;
  background: rgba(36, 104, 235, 0.12);
  border-radius: 3px;
  cursor: pointer;
  border: transparent;
 }
 #ggl_link{
  position: absolute;
  left: 38%;
  top: 35%;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
 }
 a{
  color: #2468EB;
  text-decoration: none;
 }
 #google_img{
  position: absolute;
  left: 31%;
  top: 35%;

 }
 #google_btn:hover, #signUp_btn:hover, #last_name:hover, #pwd:hover, #email:hover, 
 #signIn_btn:hover, #first_name:hover, #signIn_email:hover, #signIn_pwd:hover,#confirmPwd:hover {
   border: 3px solid rgb(0, 153, 255);
   transform: scale(1.01);
 }
 .sign_in{
  position: absolute;
  top: 550px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
 }
 .terms{
  position: absolute;
  left: 60.5%;
  top: 97%;  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1vw;
  color: #979BA9;
 }
 #signIn_email_label{
  position: absolute;
  top: 118px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  color: #7D8089;
}
#signIn_email{
  box-sizing: border-box;
  position: absolute;
  width: 384px;
  height: 50px;
  top: 137px;
   background: rgba(36, 104, 235, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 3px;
}
#signIn_email_msg{
  position: absolute;
  top: 185px;
  color: red;
}
#signIn_pwd_label{
  position: absolute;
  top: 207px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  color: #7D8089;
 }
 #signIn_pwd{
  box-sizing: border-box;
  position: absolute;
  width: 384px;
  height: 50px;
  top: 227px;
  background: rgba(36, 104, 235, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 3px;
 }
 #signIn_pwd_msg{
  position: absolute;
  top: 277px;
  color: red;
 }
 #signIn_btn{
  position: absolute;
  width: 384px;
  height: 50px;
  top: 300px;
  background: #2468EB;
  border-radius: 3px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1.1vw;
  color: #FFFFFF;
  border: none;
 }
 .sign_up{
  position: absolute;
  top: 355px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
 }

